@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Source+Code+Pro:wght@200&display=swap');
body {
   background-color: #36393e;
}
a {
 align: "center";
}
h2 {
   font-family: 'Roboto', sans-serif;
   text-align: "center";
}
h3 {
   font-family: 'Roboto', sans-serif;
   text-align: "center";
}
