@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Source+Code+Pro:wght@200&display=swap');
body {
   color: #36393e;
   background-image: url(https://git20200.gq/HJ2PN9.webp);
}
a {
 align: "center";
}
h2 {
   font-family: 'Roboto', sans-serif;
   text-align: "center";
}
h3 {
   font-family: 'Roboto', sans-serif;
   text-align: "center";
}
